
#rsr table {
    width: 100%;
    max-width: 100%;
}

#rsr th {
    text-align: left;
}

#rsr td {
    text-align: left;
}

#rsr caption {
    text-align: center;
    font-weight: bold;
}

#rsr .table caption {
    color: black;
}

.matchstats {
    z-index:3001;
}

.compareregionstats {
    font-size: 7px;
    position:relative;
    z-index:2001;
}
.compareregionstats th {
    text-align:right;
}

.compareregionstats td {
    text-align:left;
}

.field-inner {
    text-align:center;
}